<header class="main-header">

    <!-- Logo -->
    <a href="<!--{$base_path}-->" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Ben</b>CMS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><!--{$system_name}--></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">切换导航</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="<!--{$base_path}-->static/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs"><!--{$user_token}--></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="<!--{$base_path}-->static/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                            <p>
                                <!--{$user_token}--> - 超级管理员
                                <small>最后登录时间：2019-09-09 12:12:12</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">切换</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">计划</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">收藏</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">资料</a>
                            </div>
                            <div class="pull-right">
                                <a href="<!--{$base_path}-->admin/login/logout/" class="btn btn-default btn-flat">退出登录</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</header>